.addContactsForm {
    grid-area: f;
    font-size: 17px;
    margin: 20px;
    background-color: #3d3d47;
    color: #f1ebeb;
    text-shadow: 1px 1px 1px #0a0a0a;
    width: 100%;
    height: 300px;
    box-shadow: 1px 2px 6px #0e0d0d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.addContactsForm button {
    color: #111111;
    width: 60%;
    border-radius: 2px;
    text-shadow: 1px 1px 2px #a8a2a2;
    box-shadow: 1px 2px 4px #0e0d0d;
}

.inputForm {
    color: #0e0d0d;
    margin-bottom: 10px;
    width: 90%;
    border: 1px solid #999393;
    text-shadow: 1px 1px 1px #7d7777;
    border-radius: 5px;
    font-size: 20px;
}
.inputForm:hover {
    background-color: #e8e8ef;
    transition: 0.3s;
}

.addContactsForm select {
    cursor: pointer;
}

.errorInput {
    border: 1px solid #ee0c0c;
    background-color: #cd7781;
    box-shadow: 1px 1px 4px #0e0d0d;
}

.contactsEditForm {
    color: #020202;
    background-color: #3d3d47;
    box-shadow: 1px 2px 6px #0e0d0d;
    display: grid;
    padding: 25px 5px;
    grid-gap: 5px;
    border-radius: 7px;
    font-size: 20px;
    position: relative;
}
.contactsEditForm span {
    position: absolute;
}
.contactsEditForm input,
.contactsEditForm select,
.contactsEditForm button {
    background-color: #fcfcfc;
    margin: 2px auto;
    width: 90%;
    border: 1px solid #999393;
    box-shadow: 1px 2px 6px #0e0d0d;
    text-shadow: 1px 1px 1px #7d7777;
    border-radius: 5px;
}

.contactsEditForm button {
    width: 20%;
    cursor: pointer;
    transition-duration: 0.3s;
    border: 0px
}
.contactsEditForm button:hover {
    background-color: #1033d7;
    color: #eee1e1;
}
.addContactsForm button {
    cursor: pointer;
    transition-duration: 0.2s;
    border: 0px;
}
.addContactsForm button:hover {
    background-color: #1033d7;
    color: #eee1e1;
}

.error {
    width: 90%;
    background-color: #cd7781;
    border: 2px solid #d74646;
    box-shadow: 1px 2px 6px #0e0d0d;
    text-shadow: 1px 1px 1px #070000;
    border-radius: 5px;
    position: absolute;
    bottom: -15px;
    padding: 3px;
    color: #fdfdfd;
    display: flex;
}

.contactsSearchForm {
    grid-area: s;
    margin: auto;
    width: 60%;
    font-size: 20px;
}

.contactsSearchForm input {
    color: #0e0d0d;
    margin: auto;
    width: 79%;
    border: 1px solid #999393;
    box-shadow: 1px 2px 6px #0e0d0d;
    text-shadow: 1px 1px 1px #7d7777;
    border-radius: 5px;
}
.contactsSearchForm input:hover {
    background-color: #e8e8ef;
    transition: 0.3s;
}
.contactsSearchForm button {
    background-color: #fafafa;
    color: #111111;
    width: 20%;
    margin-left: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
    border: 0px;
    text-shadow: 1px 1px 2px #a8a2a2;
    box-shadow: 1px 2px 4px #0e0d0d;
    border-radius: 2px;
}
.contactsSearchForm button:hover {
    background-color: #1033d7;
    color: #eee1e1;
}

.contactsEditForm .error {
    width: 30%;
    bottom: 5px;
    left: -100px;
}