.personalAreaContent {
    display: grid;
    grid-template-areas: "f s" "f c";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 6fr;
    grid-gap: 5px;
}
.listContacts {
    grid-area: c;
    margin: 5px;
    width: 100%;
}