.loginPage {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.loginPage form {
    width: 30%;
}
.label {
    margin-top: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.label h1 {
    color: #f1ebeb;
    text-shadow: 2px 2px 4px #0a0a0a;
}
.formContent {
    padding: 10px;
    display: flex;
    justify-content: center;
}

