body {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom left, #710ace, #041036);
    background-attachment: fixed;
}
#root{
    height: 100%;
}
.app-wrapper {
    display: grid;
    width: 95%;
    margin: 0 auto;
    grid-template-areas: "h" "c";
    grid-template-rows: 200px 10fr;
    grid-gap: 5px;
    height: 100%;
}

.app-wrapper-content {
    grid-area: c;
    margin: 5px 5px 15px 5px;
    background-color: #e8e8ef;
    box-shadow: 1px 2px 6px #0e0d0d;
    text-shadow: 1px 1px 1px #0a0a0a;
    border-radius: 10px;

}